.displayCards{
    width:75%; 
    display:grid; 
    grid-template-columns:30% 30% 30%; 
    column-gap:1.5rem;
}

.container{
    margin-top:2rem;
    display:flex; 
    justify-content:center;
}

.displayCards p{
    color: white;
    grid-column:span 3 ;
    text-align: center;
}
